@use "base.scss";

$gutter-width: 30px;
$grid-sum: 12;
$grid-breakpoints: (
    '': false,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc($gutter-width / 2);
    padding-right: calc($gutter-width / 2);
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc($gutter-width / 2);
    padding-right: calc($gutter-width / 2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: - calc($gutter-width / 2);
    margin-right: - calc($gutter-width / 2);
}

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;

    > [class*='col-'] {
        padding-left: 0px;
        padding-right: 0px;
    }
}

%col {
    position: relative;
    width: 100%;
    padding-left: calc($gutter-width / 2);
    padding-right: calc($gutter-width / 2);
}

@each $key, $value in $grid-breakpoints {
    @if not $value {
        .col {
            @extend %col;
        }
    } @else {
        .col-#{$key} {
            @extend %col;
        }
    }
    @for $var from 1 through $grid-sum {
        @if not $value {
            .col-#{$var} {
                @extend %col;
            }
        } @else {
            .col-#{$key}-#{$var} {
                @extend %col;
            }
        }
    }
}

@each $key, $value in $grid-breakpoints {
    @if not $value {
        .col {
            max-width: 100%;
            flex: 1 1 0;
        }
        @for $var from 1 to $grid-sum {
            .col-#{$var} {
                max-width: calc(100% * ($var / $grid-sum));
                flex: 0 0 calc(100% * ($var / $grid-sum));
            }
        }
    } @else {
        @media screen and (min-width: $value) {
            .col-#{$key} {
                max-width: 100%;
                flex: 1 1 0;
            }
            @for $var from 1 to $grid-sum {
                .col-#{$key}-#{$var} {
                    max-width: calc(100% * ($var / $grid-sum));
                    flex: 0 0 calc(100% * ($var / $grid-sum));
                }
            }
        }
    }
}

.col-auto {
    @extend %col;
    flex: 0 0 auto;
    width: auto;
}
.me-auto {
    margin-right: auto;
}
.ms-auto {
    margin-left: auto;
}
