:root {
  --body-width: min(60rem, 90%);
  --bg: #fff;
  --accent: #234781;
  --border: #898EA4;
  --text: #212121;
  --text-light: #585858;
  --disabled: #efefef;
  --danger: #f65555;
  --safer: #54b946;
  --marked: #ffdd33;
  --code: #d81b60;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent: #ffb11b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --disabled: #111;
    --code: #f06292;
  }
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-weight: 400;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr var(--body-width) 1fr;
}
html body > * {
  grid-column: 2;
}
html body header {
  border-bottom: 1px solid var(--border);
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
  justify-content: flex-start;
}
html body header nav {
  display: flex;
  flex-grow: 1;
}
html body header nav a, html body header nav a:visited {
  text-decoration: none;
  color: var(--accent);
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
@media only screen and (max-width: 720px) {
  html body header nav a, html body header nav a:visited {
    text-decoration: underline;
    border: none;
    padding: 0;
    line-height: 1;
  }
}
html body header nav a.current, html body header nav nav a:visited.current {
  pointer-events: none;
  cursor: default;
  color: var(--text);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a:not(.button), a:not(.button):visited, a:not(.button):hover {
  font-size: inherit;
  color: var(--accent);
}
a:not(.button):hover {
  text-decoration: none;
}

pre {
  font-size: 0.9rem;
  border: 1px solid var(--border);
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  page-break-inside: avoid;
}

:not(pre) > code {
  color: var(--code);
}

code, samp {
  font-size: 0.9rem;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0 1rem 1rem;
  padding: 0.4rem 0.8rem;
  border-left: 0.2rem solid var(--accent);
  color: var(--text-light);
  font-style: italic;
}
blockquote p {
  margin: 0.5rem 0;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}
table th {
  background-color: var(--bg);
  font-weight: bold;
}
table td, table th {
  border: 1px solid var(--border);
  text-align: start;
  padding: 0.5rem;
}

img, video {
  max-width: 100%;
  height: auto;
  border-radius: var(--standard-border-radius);
}

figcaption {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.7rem 1rem;
  margin: -0.7rem -1rem;
  word-break: break-all;
}

aside {
  font-size: 1rem;
  width: 30%;
  padding: 0 15px;
  margin-inline-start: 15px;
  float: right;
  background-color: inherit;
  border: 1px solid var(--border);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 720px) {
  textarea, select, input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
  }
}

mark {
  padding: 2px 5px;
  border-radius: var(--standard-border-radius);
  background-color: var(--marked);
  color: black;
}

dialog {
  max-width: 40rem;
  margin: auto;
}
@media only screen and (max-width: 720px) {
  dialog {
    max-width: 100%;
    margin: auto 1em;
  }
}

figure {
  margin: 0;
  display: block;
  overflow-x: auto;
}

textarea:not([cols]) {
  width: 100%;
}

label {
  display: block;
}

button, .button, input[type=button], input[type=submit], input[type=reset] {
  color: var(--bg);
  background: var(--accent);
  border: none;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
}
button:not([disabled]):hover, .button:not([disabled]):hover, input[type=button]:not([disabled]):hover, input[type=submit]:not([disabled]):hover, input[type=reset]:not([disabled]):hover {
  filter: brightness(1.2);
  cursor: pointer;
}
button[disabled], .button[disabled], input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] {
  color: var(--text-light);
  cursor: not-allowed;
  background-color: var(--disabled);
}

button[disabled], input[disabled], select[disabled] {
  color: var(--text-light);
  cursor: not-allowed;
  background-color: var(--disabled);
}

input, select, textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}

input[type=submit]:enabled:hover, input[type=reset]:enabled:hover, input[type=button]:enabled:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.hiden {
  display: none;
}

.box {
  border: 1px solid var(--border);
  padding: 1rem 1.4rem;
  page-break-inside: avoid;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
}
.no-gutters > [class*=col-] {
  padding-left: 0px;
  padding-right: 0px;
}

.col-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-xl, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-lg, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-md, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-sm, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .col {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  max-width: 100%;
  flex: 1 1 0;
}

.col-1 {
  max-width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
}

.col-2 {
  max-width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
}

.col-5 {
  max-width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
}

.col-8 {
  max-width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
}

.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}

.col-10 {
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
}

.col-11 {
  max-width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
}

@media screen and (min-width: 576px) {
  .col-sm {
    max-width: 100%;
    flex: 1 1 0;
  }
  .col-sm-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .col-sm-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .col-sm-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
  .col-sm-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .col-md {
    max-width: 100%;
    flex: 1 1 0;
  }
  .col-md-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .col-md-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .col-md-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
  .col-md-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg {
    max-width: 100%;
    flex: 1 1 0;
  }
  .col-lg-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .col-lg-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .col-lg-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
  .col-lg-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl {
    max-width: 100%;
    flex: 1 1 0;
  }
  .col-xl-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
  .col-xl-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
  .col-xl-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .col-xl-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
  .col-xl-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
  .col-xl-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .col-xl-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
  .col-xl-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
  .col-xl-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
  .col-xl-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
  .col-xl-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}
