@import "base.scss";

header {
    .timestamp {
        font-size: 0.9rem;
    }
}

.timestamp {
    padding: 0 .3rem;
    color: var(--text-light);
}

.todo {
    color: var(--danger);
}

.done {
    color: var(--safer);
}

.content {
    header {
        border-bottom: 1px solid var(--border);
        padding-top: .5rem;
        margin-bottom: 1.5rem;
        line-height: 1.5;
        font-size: 1.1rem;
        justify-content: flex-start;
    }
}

.status {
    margin-top: 2rem;
    font-size: 0.9rem;
    p {
        margin: 0;
    }
}

.tag {
    font-family: monospace;
    font-size: .8rem;
    color: var(--text-light);
}

.org-src-container {
    position: relative;
    .src {
        --org-builtin: #8f0075;
        --org-comment: #595959;
        --org-constant: #0000b0;
        --org-docstring: #2a5045;
        --org-docmarkup: #7c318f;
        --org-function-name: #721045;
        --org-keyword: #531ab6;
        --org-preprocessor: #a0132f;
        --org-string: #3548cf;
        --org-type: #005f5f;
        --org-variable-name: #005e8b;
        // --org-rx-construct: #0000b0;
        // --org-rx-backslash: #721045;

        @media(prefers-color-scheme: dark) {
            --org-builtin: #f78fe7;
            --org-comment: #989898;
            --org-constant: #00bcff;
            --org-docstring: #9ac8e0;
            --org-docmarkup: #caa6df;
            --org-function-name: #feacd0;
            --org-keyword: #b6a0ff;
            --org-preprocessor: #ff7f9f;
            --org-string: #79a8ff;
            --org-type: #6ae4b9;
            --org-variable-name: #00d3d0;
            // --org-rx-construct: #00c06f;
            // --org-rx-backslash: #feacd0;

        };

        &::before {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 .5rem;
        }

        .org-builtin {color: var(--org-builtin) };
        .org-comment, .org-comment-delimiter {color: var(--org-comment)};
        .org-constant { color: var(--org-constant) };
        .org-doc {color: var(--org-docstring)};
        // docmarkup;
        .org-function-name {color: var(--org-function-name) };
        .org-keyword { color: var(--org-keyword) };
        // preprocessor;
        .org-string {color: var(--org-string)};
        .org-type {color: var(--org-type)};
        .org-variable-name {color: var(--org-variable-name) };
        // .org-highlight-numbers-number{color: var(--org-highlight-numbers-number)};
    }
    .src-sh::before,.src-shell::before {content: "Shell"};
    .src-bash::before {content: "Bash"};
    .src-sql::before {content: "SQL"};
    .src-emacs-lisp::before {content: "Emacs Lisp"};
    .src-c::before {content: "C"};
    .src-C::before {content: "C"};
    .src-cpp::before {content: "C++"};
    .src-html::before {content: "HTML"};
    .src-js::before,.src-javascript::before {content: "Javascript"};
    .src-css::before {content: "CSS"};
    .src-lisp::before {content: "Lisp"};
    .src-python::before {content: "Python"};
    .src-go::before {content: "Go"};
}
