@use "base.scss";

.snac-avatar { height: 2.5rem; width: 2.5rem; padding: 0.25rem }

.snac-top-user {
    .snac-top-user-banner{
    }
    .snac-top-user-name{
    }
    .snac-top-user-id{
    }
    .snac-top-user-bio{
    }
    .snac-metadata{
    }
}

.snac-top-nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border);
    line-height: 1.5;
    flex-wrap: wrap;

    a, a:visited {
        text-decoration: none;
        color: var(--accent);
        display: inline-block;
        margin: 0 .5rem 0rem .5rem;

        @media only screen and (max-width: 720px) {
            text-decoration: underline;
            border: none;
            padding: 0;
            line-height: 1;
        }
    }
    .snac-search-box{
        flex-grow: 2;
        input{
            float: right;
        }
        @media only screen and (max-width: 720px) {
        }
    }
    sup {
        margin-left: -.5rem;
        background-color: inherit !important;
        color: var(--danger) !important;
        font-weight: bold;
    }
}
.snac-list-of-lists{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.snac-controls > form{
    display: flex;
    gap: 10px;
    @media only screen and (max-width: 720px) {
        .snac-btn-like, .snac-btn-boost, .snac-btn-bookmark,.snac-btn-unfollow, .snac-btn-mute, .snac-btn-delete, .snac-btn-hide {
            flex-grow: 1;
        }
        .snac-btn-mute, .snac-btn-delete, .snac-btn-hide {
            display: none;
        }

    }
}

.snac-post {
    margin-top: 3rem;
    border-top: 1px solid var(--border);
    .snac-post-header{
        .snac-author { unicode-bidi: isolate }
        .snac-pubdate {color: var(--text-light); font-size: 0.9rem }
        .snac-avatar{float: left;}
        .snac-score {float: right;}
    }
    .snac-children { padding-left: 1rem; border-left: 1px solid var(--border); }
    .snac-content {
        overflow-wrap: break-word;
        .snac-content-attachments {
            display: flex;
            flex-wrap: wrap;
            > * {
                flex: 1 0 49%;
                margin: 0.2rem;
            }
            .snac-alt-text, .snac-alt-text+details, .snac-alt-text+details+p {
                display: none; // https://codeberg.org/grunfink/snac2/issues/242
            }
        }
    }
}

.snac-history {
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: 1rem;
}
.snac-footer { margin-top: 2em }
.snac-poll-result { margin-left: auto; margin-right: auto; }


