:root {
  --body-width: min(60rem, 90%);
  --bg: #fff;
  --accent: #234781;
  --border: #898EA4;
  --text: #212121;
  --text-light: #585858;
  --disabled: #efefef;
  --danger: #f65555;
  --safer: #54b946;
  --marked: #ffdd33;
  --code: #d81b60;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent: #ffb11b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --disabled: #111;
    --code: #f06292;
  }
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-weight: 400;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr var(--body-width) 1fr;
}
html body > * {
  grid-column: 2;
}
html body header {
  border-bottom: 1px solid var(--border);
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
  justify-content: flex-start;
}
html body header nav {
  display: flex;
  flex-grow: 1;
}
html body header nav a, html body header nav a:visited {
  text-decoration: none;
  color: var(--accent);
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
@media only screen and (max-width: 720px) {
  html body header nav a, html body header nav a:visited {
    text-decoration: underline;
    border: none;
    padding: 0;
    line-height: 1;
  }
}
html body header nav a.current, html body header nav nav a:visited.current {
  pointer-events: none;
  cursor: default;
  color: var(--text);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a:not(.button), a:not(.button):visited, a:not(.button):hover {
  font-size: inherit;
  color: var(--accent);
}
a:not(.button):hover {
  text-decoration: none;
}

pre {
  font-size: 0.9rem;
  border: 1px solid var(--border);
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  page-break-inside: avoid;
}

:not(pre) > code {
  color: var(--code);
}

code, samp {
  font-size: 0.9rem;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0 1rem 1rem;
  padding: 0.4rem 0.8rem;
  border-left: 0.2rem solid var(--accent);
  color: var(--text-light);
  font-style: italic;
}
blockquote p {
  margin: 0.5rem 0;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}
table th {
  background-color: var(--bg);
  font-weight: bold;
}
table td, table th {
  border: 1px solid var(--border);
  text-align: start;
  padding: 0.5rem;
}

img, video {
  max-width: 100%;
  height: auto;
  border-radius: var(--standard-border-radius);
}

figcaption {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.7rem 1rem;
  margin: -0.7rem -1rem;
  word-break: break-all;
}

aside {
  font-size: 1rem;
  width: 30%;
  padding: 0 15px;
  margin-inline-start: 15px;
  float: right;
  background-color: inherit;
  border: 1px solid var(--border);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 720px) {
  textarea, select, input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
  }
}

mark {
  padding: 2px 5px;
  border-radius: var(--standard-border-radius);
  background-color: var(--marked);
  color: black;
}

dialog {
  max-width: 40rem;
  margin: auto;
}
@media only screen and (max-width: 720px) {
  dialog {
    max-width: 100%;
    margin: auto 1em;
  }
}

figure {
  margin: 0;
  display: block;
  overflow-x: auto;
}

textarea:not([cols]) {
  width: 100%;
}

label {
  display: block;
}

button, .button, input[type=button], input[type=submit], input[type=reset] {
  color: var(--bg);
  background: var(--accent);
  border: none;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
}
button:not([disabled]):hover, .button:not([disabled]):hover, input[type=button]:not([disabled]):hover, input[type=submit]:not([disabled]):hover, input[type=reset]:not([disabled]):hover {
  filter: brightness(1.2);
  cursor: pointer;
}
button[disabled], .button[disabled], input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] {
  color: var(--text-light);
  cursor: not-allowed;
  background-color: var(--disabled);
}

button[disabled], input[disabled], select[disabled] {
  color: var(--text-light);
  cursor: not-allowed;
  background-color: var(--disabled);
}

input, select, textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}

input[type=submit]:enabled:hover, input[type=reset]:enabled:hover, input[type=button]:enabled:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.hiden {
  display: none;
}

.box {
  border: 1px solid var(--border);
  padding: 1rem 1.4rem;
  page-break-inside: avoid;
}

.snac-avatar {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.25rem;
}

.snac-top-nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  border-bottom: 1px solid var(--border);
  line-height: 1.5;
  flex-wrap: wrap;
}
.snac-top-nav a, .snac-top-nav a:visited {
  text-decoration: none;
  color: var(--accent);
  display: inline-block;
  margin: 0 0.5rem 0rem 0.5rem;
}
@media only screen and (max-width: 720px) {
  .snac-top-nav a, .snac-top-nav a:visited {
    text-decoration: underline;
    border: none;
    padding: 0;
    line-height: 1;
  }
}
.snac-top-nav .snac-search-box {
  flex-grow: 2;
}
.snac-top-nav .snac-search-box input {
  float: right;
}
.snac-top-nav sup {
  margin-left: -0.5rem;
  background-color: inherit !important;
  color: var(--danger) !important;
  font-weight: bold;
}

.snac-list-of-lists {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.snac-controls > form {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 720px) {
  .snac-controls > form .snac-btn-like, .snac-controls > form .snac-btn-boost, .snac-controls > form .snac-btn-bookmark, .snac-controls > form .snac-btn-unfollow, .snac-controls > form .snac-btn-mute, .snac-controls > form .snac-btn-delete, .snac-controls > form .snac-btn-hide {
    flex-grow: 1;
  }
  .snac-controls > form .snac-btn-mute, .snac-controls > form .snac-btn-delete, .snac-controls > form .snac-btn-hide {
    display: none;
  }
}

.snac-post {
  margin-top: 3rem;
  border-top: 1px solid var(--border);
}
.snac-post .snac-post-header .snac-author {
  unicode-bidi: isolate;
}
.snac-post .snac-post-header .snac-pubdate {
  color: var(--text-light);
  font-size: 0.9rem;
}
.snac-post .snac-post-header .snac-avatar {
  float: left;
}
.snac-post .snac-post-header .snac-score {
  float: right;
}
.snac-post .snac-children {
  padding-left: 1rem;
  border-left: 1px solid var(--border);
}
.snac-post .snac-content {
  overflow-wrap: break-word;
}
.snac-post .snac-content .snac-content-attachments {
  display: flex;
  flex-wrap: wrap;
}
.snac-post .snac-content .snac-content-attachments > * {
  flex: 1 0 49%;
  margin: 0.2rem;
}
.snac-post .snac-content .snac-content-attachments .snac-alt-text, .snac-post .snac-content .snac-content-attachments .snac-alt-text + details, .snac-post .snac-content .snac-content-attachments .snac-alt-text + details + p {
  display: none;
}

.snac-history {
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1rem;
}

.snac-footer {
  margin-top: 2em;
}

.snac-poll-result {
  margin-left: auto;
  margin-right: auto;
}
